<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Form</title>
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet">
		<link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="banner">

			<div id="logo">
				<img src="images/hspacebanner.jpg" id="logo_pic">
			</div>

			<div id-"logo-text">
				<h1> 3D-Printer Form</h1>
				<p> Just fill out the info about your print below and we will contact you when it's finished!</p>
			</div>

		</div>

		<div id="print_form">

			<form role="form" action="/upload" enctype="multipart/form-data">


				<div class="form-group">
				<label for="name">Full Name</label>
				<input class="form-control" type="text" name="name" placeholder="Bob Bobson" maxlength="30">
				</div>
				<img src="images/bad.png" class="valid" id="valid_name">

				<div class="form-group">
				<label for="ruid">RUID</label>
				<input class="form-control" type="text" name="ruid" placeholder="123-45-6789" maxlength="11">
				</email
				<img src="images/bad.png" class="valid" id="valid_ruid">

				<div class="form-group">
				<label for="email">Email address</label>
				<input class="data form-control" type="email" name="email" placeholder="Bob@Bobmail.com" maxlength="40">
				</div>
				<!-- email validation is taken care of by the browser -->

				<div class="form-group">
				<label for="notes">Notes *Optional</label>
				<input class="data form-control" type="text" name="notes" placeholder="any extra info on print ex. infill, etc.." maxlength="150"> 
				</div>

				<div class="form-group">
				<label for="files">File(s) *Limit is 3 files totaling 10mb and they must be in .stl format</label>
				<input class="data" type="file" name="stl_files" multiple id="files" accept=".stl"> 
				</div>

				<div style="text-align:center" id="submit-box">  
				<input class="btn btn-default" type="submit" value="Submit" id="submit">
				</div>

			</form>

			<figure style="text-align:center">
				<img src="images/ajax-loader.gif" id="load_gif">
				<figcaption> </figcaption>
			</figure>


		</div>

		<div id="footer">

			<p> Created by <a href="http://www.github.com/biggie96/Hackerspace-Print-Queue" target="_blank"> Olaolu Emmanuel </a> </p>

		</div>

	<script src="scripts/jquery-1.11.3.js"></script>
	<script src="scripts/jquery.form.min.js"></script>
	<script src="scripts/home.js"></script>
	</body>

</html>
