<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Print Queue</title>
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<div id="banner">

			<h1> Hackerspace Print Queue </h1>

		</div>

		<div id="menu-bar">
        
			<div id="pill">

				<div id="choice1">

					<h3> Current Job </h3>

				</div>

				<div id="choice2">

					<h3> Entire Queue </h3>

				</div>

			</div>

		</div>

	</body>
</html>
