<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Queue</title>
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet">
		<link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="banner">

			<div id="logo">
				<img src="images/hspacebanner.jpg">
			</div>

			<div id-"logo-text">
				<h1> 3D-Printer Queue</h1>
				<p>Complete a print job and log it here to notify the recipient.</p>
			</div>

		</div>

		<div id="print_form">

			<div id="queue">

				<div style="text-align:center">
				<h2> Queue </h2>
				</div>

				<ol id="all_jobs">

					<div class="job active">

						<li class="job_title"> things </li>
						<div class="description"> 

							<div class="info">
								<p>Name: the name </p> 
								<p> ruid: 21212121 </p>
								<p> notes: onvefev fe fd jkfd jkfvjk fnjjjjjjjjjjjj </p>
							</div>

							<div class="action">
								<button>Done</button>
								<button>Remove</button>
							</div>

						</div>

					</div>

					<div class="job">

						<li class="job_title"> things </li>
						<div class="description"> 

							<div class="info">
								<p>Name: the name </p> 
								<p> ruid: 21212121 </p>
								<p> notes: onvefev fe fd jkfd jkfvjk fnjjjjjjjjjjjj </p>
							</div>

							<div class="action">
								<button>Done</button>
								<button>Remove</button>
							</div>

						</div>

					</div>

				</ol>

			</div>

			<div id="notes">

				<div style="text-align:center">
				<h2> Notes </h2>
				</div>

				<ul id="info">

					<li> Once a job is completed, click done, input your name, and an email will be sent to the recipient. </li>
					<li> To remove a job, click remove and enter yes to confirm the removal. </li>

				</ul>

			</div>

		</div>

		<div id="footer">

			<p> Created by <a href="http://www.github.com/biggie96/Hackerspace-Print-Queue" target="_blank"> Olaolu Emmanuel </a> </p>

		</div>

	<script src="scripts/jquery-1.11.3.js"></script>
	<script src="scripts/queue.js"></script>
	</body>

</html>